.btn {
  padding: 10px 14px;
  width: 100%;
  outline: transparent;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font;
  font-size: 14px;
  font-weight: 450;
  line-height: 1.4;
  background-color: $color-gray-dark;
  color: $color-white;
  transition: background-color 0.4s ease, color 0.4s ease;

  @media (min-width:$mobile-big) {
    padding: 12px 24px;
    width: fit-content;
    font-weight: 450;
    font-size: 18px;
    line-height: 1.35;
  }

  @media (min-width:$desktop-small) {

    &:hover {
      background-color: $color-black;
      transition: background-color 0.4s ease;
    }
  }

  &:active {
    background-color: $color-black;
    transition: background-color 0.4s ease;
  }

  &:disabled {
    background-color: $color-gray-disabled;
    color: $color-gray-light;
    cursor: default;
    transition: background-color 0.4s ease, color 0.4s ease;
  }

  &.disabled {
    background-color: $color-gray-disabled;
    color: $color-gray-light;
    cursor: default;
    transition: background-color 0.4s ease, color 0.4s ease;
  }

  // btn-small
  &.btn-small {
    min-height: 42px;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.4;
  }

}


// btn-secondary

.btn-secondary {
  padding: 12px 16px;
  width: 100%;
  outline: transparent;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font;
  font-size: 14px;
  font-weight: 450;
  line-height: 1.4;
  background-color: $color-white;
  color: $color-gray-dark;
  border: 1px solid $color-gray-dark;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;

  svg {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    fill: $color-gray-dark;
    transition: fill 0.4s ease, transform 0.4s ease;
  }

  @media (min-width:$mobile-big) {
    padding: 16px 32px;
    font-weight: 450;
    font-size: 18px;
    line-height: 1.35;
    width: fit-content;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width:$desktop-small) {

    &:hover {
      background-color: $color-gray-dark;
      color: $color-white;
      transition: background-color 0.4s ease, color 0.4s ease;

      svg {
        fill: $color-white;
        transform: translate(4px, -4px);
        transition: fill 0.4s ease, transform 0.4s ease;
      }
    }
  }

  &:active {
    background-color: $color-gray-dark;
    color: $color-white;
    transition: background-color 0.4s ease, color 0.4s ease, fill 0.4s ease;

    svg {
      fill: $color-white;
      transition: fill 0.4s ease, transform 0.4s ease;
    }
  }

  &:disabled {
    background-color: $color-white;
    color: $color-gray-light;
    border-color: $color-gray-light;
    cursor: default;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;

    svg {
      fill: $color-gray-light;
      transition: fill 0.4s ease;
    }
  }

  &.disabled {
    background-color: $color-white;
    color: $color-gray-light;
    border-color: $color-gray-light;
    cursor: default;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;

    svg {
      fill: $color-gray-light;
      transition: fill 0.4s ease;
    }
  }

  // btn-secondary-small
  &.btn-secondary-small {
    min-height: 42px;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.4;

    svg {
      width: 20px;
      height: 20px;
    }
  }

}

